*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary: #FFF7EC;
    --header-color: #035C42;
    --purple-color: rgb(155, 81, 224);
    --font-primary: 'Pacifico', cursive;
    --font-accent: 'Kanit', sans-serif;
    --font-text: 'Hind', sans-serif;
    --light: #FFF7F7;
}
/* 
 ::-webkit-scrollbar{ 
display: none;
}  */

body{
    overflow-x: hidden;
    background-color: #FFF7EC;
}

.swap-button{
animation-duration: 0.2s;
animation-fill-mode: forwards;
animation-timing-function: linear;

}
.welcome-message{
    font-size: 12pt;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    /* display: none; */
}

.dashboard-container{
    min-width: 100vw;
    overflow-x: hidden;
    margin-bottom: 2rem;
}


.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4rem auto;
}
.btn{
    width: 120px;
    padding: 8px;
    font-size: 16pt;
    border: none;
    border-radius: 3px;
    background: #035C42;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.429);
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background: rgb(52, 52, 52);
    color: white;
}

 .swap-button{
            overflow: hidden;
} 

.stats-button{
background-color:white;
color: black;
}

.habbit-icon-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    flex-wrap: wrap;
    transition: 0.4s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 1;
    min-height: 200px;
    
}
.habit-icon{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    user-select: none;
    background-image:radial-gradient(white 50%,rgb(225, 224, 224));
    color: black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.437);    z-index: 51;
    overflow: hidden;
}
.habit-icon:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.897);
}

.stats-container{
    min-height: 500px;
    margin-top: 6rem;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
box-shadow: 0px 0px 2px rgb(90, 90, 90);
}
.stats-board{
    min-height: 600px;
    height: auto;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.text-align-left{
    width: 100%;
    text-align: left;
    border: solid white 1px;
}
.streak-statistics{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    justify-content: space-between;
}
.completion-statistics{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 10px;
}
.completion-progress-bar{
    border: black solid 1px;
    border-radius: 4px;
    height: 20px;
    width: 40%;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    }
.completed-trackers{
    position: absolute;
    top: 10rem;
    z-index: 50;
    margin-left: 175vw;
    /* transform: translateY(150vw); */
}
.chart-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.chart-statistics-left{
    height: 100px;
    width: 100%;
    margin: 40px auto;
}

#single-habit-view{
    display: none;
    min-height: 600px ;
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform: translateY(-400px);
    font-size: 18pt;
}
#user-overview{
    background: #FFF7EC;
    color: #035C42;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    font-size: 14pt;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#overall-habits , #active-count, #completed-count{
    text-align: center;
    height: min-content;
    padding: 10px;
    min-width: 100px;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.312);
}
i {
    margin: 0;
    font-size: 40pt;
}

#completed-chart-container {
margin-top: 200px;
    width: 100%;
}

.completed-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.add{
    font-size: 20pt;
    padding: 5px 0;
}

.delete-btn{
opacity: 0.5;
padding: 10px;
width: 100%;
text-align: center;
background-color: rgba(255, 0, 0, 0.527);
}
.stats{
    width: 100%;
}
.controls-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--primary);
    font-family: var(--font-accent);

}

footer p {
    font-size: 19px;
    font-family: var(--font-accent);
}

footer a {
    text-decoration: none;
    color: var(--header-color);
    font-weight: bold;
}

footer a:hover {
    color: rgb(155, 81, 224);
}
.habit-title{
    text-transform: capitalize;
}

@media only screen and (min-width:768px){
    #single-habit-view {
            transform: translateY(-800px)
        }
    .stats {
            width: 40%;
        }
    .completed-stats {
        margin: 4rem 0;
    }
    #overall-habits,
        #active-count,
        #completed-count {
            padding: 20px;
            min-width: 200px;
            box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.312);
        }
    .chart-statistics-left {
            height: 100px;
            width: 100%;
            max-width: 1000px;
            margin: 40px auto;
        }
    .btn{
        padding: 20px;
        width: 200px;
    }
    .habit-icon{
        height: 250px;
        width: 250px;
        margin: 20px;
    }
    .stats-board{
        overflow-y: scroll;
        background: white;
        color: black;
        border-radius: 4px;
        padding: 10px;
    }
    .completion-progress-bar{
        background: white;
        border: solid black 1px;
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14%;
    }
        .completed-trackers {
            position: absolute;
            top:12rem;
        }
        .habbit-icon-container{
            min-height: 500px;
        }
        i{
            font-size: 70pt;
        }
        #completed-chart-container {
        width: 40%;
        }
}




@keyframes slide-in{
    from{
        opacity: 0;
        margin-left: 175vw;}

to{
    margin-left: 0;
    opacity: 1;
}}
@keyframes slide-out{
    from{
        margin-left: 0;
    }
    to{
        display: flex;
        opacity: 0;
        margin-left: -175vw;}
}
